<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konversi Meter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="header">
                <input type="text" class="angka" name="" id="">
                <button type="button" class="tombol show-modal">Tekan</button>
            </div>
            <div class="container-result">
                <div class="box-result">
                    <input type="text" placeholder="Km" class="km result" readonly>
                    <input type="text" placeholder="Hm" class="hm result" readonly>
                    <input type="text" placeholder="Dam" class="dam result" readonly>
                    <input type="text" placeholder="M" class="m result" readonly>
                    <input type="text" placeholder="Dm" class="dm result" readonly>
                    <input type="text" placeholder="Cm" class="cm result" readonly>
                    <input type="text" placeholder="Mm" class="mm result" readonly>    
                </div>
            </div>
        </div>
    </div>
    <div class="modal hidden">
        <button class="close-modal">&times;</button>
        <h1>Peringatan</h1>
        <p>Inputan anda tidak valid karena tidak mengikuti aturan yang berlaku</p>
        <p>Silahkan masukan angka disertai format satuan meter</p>
        <p>angka disertai satuan meter === <span>12m atau 12 cm.</span> </p>
    </div>
    <div class="overlay hidden"></div>
    <div class="modal hidden peladen">
        <button class="close-modal peladen">&times;</button>
        <h1>Peringatan</h1>
        <p class="p1">Sedang terjadi masalah dengan peladen</p>
    </div>
    <div class="overlay hidden peladen"></div>
</body>
</html>